{
  "DetailedErrors": false,
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ApiSettings": {
    "CustomersApiUrl": "https://customers-api.yourproductiondomain.com",
    "IdcApiUrl": "https://api-idc.yourproductiondomain.com",
    "CustomersApiCode": "YOUR_PRODUCTION_CUSTOMERS_API_CODE",
    "IdcApiGenerateOtpCode": "YOUR_PRODUCTION_GENERATE_OTP_CODE",
    "IdcApiSendOtpSmsCode": "YOUR_PRODUCTION_SEND_OTP_SMS_CODE",
    "IdcApiVerifyOtpCode": "YOUR_PRODUCTION_VERIFY_OTP_CODE",
    "IdcApiKvkkTextCode": "YOUR_PRODUCTION_KVKK_TEXT_CODE",
    "IdcApiKvkkOnayCode": "YOUR_PRODUCTION_KVKK_ONAY_CODE",
    "DefaultToken": "YOUR_PRODUCTION_SECRET_TOKEN",
    "UtmId": "5"
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server=your_production_db_server;Database=your_production_db;User Id=your_user;Password=your_password;"
  },
  "Session": {
    "IdleTimeout": 30,
    "CookieSecure": true
  },
  "Hsts": {
    "MaxAge": 31536000,
    "IncludeSubDomains": true,
    "Preload": true
  }
}



